
* {
    font-family: 'Inter', 'Arial';
    box-sizing: border-box;
}

/* Body styling */
html, body {
    height: 100%;
}

/* NAVBAR STYLING*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* "ECO-CHALLENGE" STYLING*/
.project-name {
    display: flex;
    align-items: center; 
    font-size: 25px;
    font-weight: 600; 
    color: green; 
}


.challenge-text {
    color: #A0E179;
}

.navbar-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    color: green;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    font-weight: 500;
    color: green;
    transition: color 0.3s;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: green;
}


/* LANDING PAGE */
.landing-page {
    background-image: url('/public/img/cover.webp');
    display: flex;
    width: 90vw;
    height: 85vh; 
    background-size: cover;
    margin-left:5vh;
}

.landing-flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.landing-flex h2 {
    margin-left: 5vh;
    font-size: 40px;
    color:rgb(34, 70, 34);
    word-wrap: break-word;
    width: 320px;
    font-weight: 550;
}

.landing-flex h3 {
    margin-left: 5vh;
    font-size: 35px;
    color:rgb(34, 70, 34);
    word-wrap: break-word;
    width: 450px;
    font-weight: 500;
    margin-bottom:3vh;
}

.land-button {
    width: 200px;
    font-size: 15px;
    height: 50px;
    font-weight: 550;
    background-color:green;
    border-radius: 25px;
    margin-left: 5vh;
    color:white;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15);
}

.landing-flex p {
    margin-left: 5vh;
    font-size: 15px;
    word-wrap: break-word;
    width: 400px;
    font-weight:550;
    margin-top: 15vh;
}

.down-arrow img {
    width: 20px; 
    height: auto;
}

.down-arrow {
    cursor: pointer;
    margin-top: 2vh;
    animation: bounce 2s infinite;
    position: absolute;
    bottom: 20px;
    left: 50%;
}


/* SEARCH STYLING*/

.search-container {
    width: 1000px;
}

.search-input-container input[type="text"] {
    padding: 1rem;
    margin: 10vh 2vh; /* Add margin on both sides */
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
   }
   
   .search-and-filter {
    display: flex;
    justify-content: center; /* Center align items */
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
   }
   
   .filter-container {
    margin-top: 1vh;
    margin-left: 4vh; /* Add margin on the left */
    color: rgb(171, 171, 171);
   }
   
   /* FILTER BOX */
   label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    text-align: center;
   }
   
   select {
    min-width: 300px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: left;
    border: 2px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: grey;
   }
   
   select option {
    color: darkblue;
   }
   
  

/* CARDS STYLING */

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}

.one-card {
    width: 18rem;
    height: 25rem;
    border: 2px solid rgba(128, 128, 128, 0.5); 
    padding: 10px;
    margin-left: 3.5vh;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    margin-bottom: 5vh;
    border-radius: 10px; 
    overflow: hidden; /* Ensure content does not spill outside the card */
    display: flex;
    flex-direction: column;
}

.one-card img {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
}

.one-card-body {
    padding: 10px; 
}

.one-card-title {
    text-align: center;
    color: green;
    font-size: 20px;
    margin-bottom:2vh;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .one-card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #bbb;
    color: black;
  }
  
  .card-back {
    background-color: #2980b9;
    color: black;
    transform: rotateY(180deg);
  }

/* RESOURCES PAGE STYLING */
.resources-page {
    padding: 20px;
    background-color: #f4f4f4; /* Light grey background */
    margin: 20px;
    border-radius: 8px;
}

.resources-page h1, h2 {
    color: green;
}

.resources-page p, .resources-page ul {
    font-size: 18px;
}

.resources-page a {
    color: #A0E179;
    text-decoration: underline;
    transition: color 0.3s;
}

.resources-page a:hover {
    color: darkgreen;
}

/* YOUTUBE RESPONSIVE */
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    }

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    }


    /* FOOTER STYLING */
    footer {
        background-color: #f1f1f1;
        text-align: center;
        padding: 5px;
    }
    
    footer p {
        margin: 5px 0;
    }

    /* QUIZ STYLING */ 

    .quiz-container {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        width: 100%; 
    }

    .quiz-container-card {
        display: flex;    
    }

    .quiz-container h2 {
        font-weight: 550;
        margin-top:10vh;
        margin-bottom: 4vh;

    }

    /* FIND CHALLENGES STYLING */ 

    .accept-button {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .decline-button {
        background-color: #f44336;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

    .quiz-buttons {
        margin-bottom:15vh;
    }

    .box {
        position: relative; 
        width: 1200px; 
        height: 300px; 
        background-color: green;
        border-radius: 10px; 
        margin-bottom:3vh;
        text-align: center;
    }
    
    .text-overlay {
        width: 90%; 
        color: white; 
        font-size: 18px; 
        text-align: center; 
        padding:1rem;
        margin-left:4.5vh;
    }
    
    /* ACCEPTED CARDS STYLING */

    .accepted-cards-list {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        justify-content: center; 
        align-content: center; 
        width: 100%; 
        max-width: 950px; 
        margin-top: 4vh;
        margin-bottom: 4vh; 
        margin-left: auto; 
        margin-right: auto; 
    }
    
    
    .one-card-print {
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        overflow: hidden;
        margin-bottom:5vh;
    }

    .one-card-image {
        width: 100%;
        height: auto; 
    }
    
    .accepted-page {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center children horizontally */
        padding: 20px; /* Add some padding for better spacing */
    }

    .print-button {
        margin-top:2vh;
        background-color: green; 
        color: white;
        padding: 5px 10px; 
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height:80px;
        margin-bottom: 5vh;
    }
    
    .accepted-page h2 {
        align-items:center;
        margin-top: 8vh;
        text-align: center;
    }

    /* MEDIA QUERIES */ 


    @media (min-width: 992px) {
        .container {
        max-width: 1400px;
        }
    }

/* Media styling for the cards on home page */
    @media (min-width: 768px) and (max-width: 1200px) {
        .card-container {
            grid-template-columns: repeat(3, 1fr); /* Two column layout for medium screens */
            gap: 20px;
        }

        .accepted-cards-list {
            grid-template-columns: repeat(3, 1fr); /* Three columns for medium screens */
        }

        .one-card {
            max-width: 90%; 
            margin: 0 auto; 
            max-height: 25rem; 
        }
        .one-card img {
            height: 70%; 
        }

        .box {
            width: 90%;
        }

    }
    
    @media (max-width: 768px) {
        .card-container {
            grid-template-columns: 1fr; /* Single column layout for small screens */
            gap: 10px;
        }

        .accepted-cards-list {
            grid-template-columns: 1fr;
        }

        .one-card {
            max-width: 90%; 
            margin: 0 auto; 
            max-height: 22rem; 
        }
        .one-card img {
            height: 65%; 
        }

        .box {
            width: 85%;
        }
    }
