* {
    font-family: 'Inter', 'Arial';
}

/* NAVBAR STYLING*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* "ECO-CHALLENGE" STYLING*/
.project-name {
    display: flex;
    align-items: center; 
    font-size: 25px;
    font-weight: 600; 
    color: green; 
}

.challenge-text {
    color: #A0E179;
}

.navbar-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    font-weight: 500;
    color: green;
    transition: color 0.3s;
}


