* {
    font-family: 'Inter', 'Arial';
}

/* NAVBAR STYLING*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* "ECO-CHALLENGE" STYLING*/
.project-name {
    display: flex;
    align-items: center; 
    font-size: 25px;
    font-weight: 600; 
    color: green; 
}

.challenge-text {
    color: #A0E179;
}

.navbar-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    color: green;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    font-weight: 500;
    color: green;
    transition: color 0.3s;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: darkgreen;
}


/* LANDING PAGE */
.landing-page {
    background-image: url('/public/img/cover.webp');
    display: flex;
    width: 90vw;
    height: 80vh; 
    background-size: cover;
    margin-top:1vh;
    margin-bottom: 3vh;
    margin-left:5vh;
}

.landing-flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.landing-flex h2 {
    margin-left: 5vh;
    font-size: 40px;
    color:rgb(34, 70, 34);
    word-wrap: break-word;
    width: 320px;
    font-weight: 550;
}

.landing-flex h3 {
    margin-left: 5vh;
    font-size: 35px;
    color:rgb(34, 70, 34);
    word-wrap: break-word;
    width: 450px;
    font-weight: 500;
}

.land-button {
    width: 200px;
    font-size: 15px;
    height: 50px;
    font-weight: 550;
    background-color:green;
    border-radius: 25px;
    margin-left: 5vh;
    color:white;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15);
}

.landing-flex p {
    margin-left: 5vh;
    font-size: 15px;
    word-wrap: break-word;
    width: 400px;
    margin-top: 5vh;
}

/* FACTS STYLING */

/* .facts-page {
    background-image: url('/public/img/facts.jpeg');
    display: flex;
    width: 50vw;
    height: 30vh; 
    background-size: cover;
    margin-top: 10vh;
} */



/* SEARCH STYLING*/

.search-input-container input[type="text"] {
    min-width: 700px;
    padding:1rem;
    margin-left: 8vh;
    margin-top: 15vh;
    margin-bottom:10vh;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.5); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

/* CARDS STYLING */

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.one-card {
    max-width: 18rem;
    border: 2px solid rgba(128, 128, 128, 0.5); 
    padding: 10px;
    margin-left: 8vh;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    margin-bottom: 5vh;
    border-radius: 10px; 
}

.one-card img {
    width: 100%; 
    height: 18rem; 
}

.one-card-body {
    padding: 10px; 
}

.one-card-title {
    text-align: center;
    color: green;
    font-size: 20px;
}

/* RESOURCES PAGE STYLING */
.resources-page {
    padding: 20px;
    background-color: #f4f4f4; /* Light grey background */
    margin: 20px;
    border-radius: 8px;
}

.resources-page h1 {
    color: green;
}

.resources-page p, .resources-page ul {
    font-size: 18px;
}

.resources-page a {
    color: #A0E179;
    text-decoration: underline;
    transition: color 0.3s;
}

.resources-page a:hover {
    color: darkgreen;
}

/* YOUTUBE RESPONSIVE */
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    }

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    }

